.header {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--32px);
}

.container {
  padding: var(--32px);

  &__title {
    text-align: center;
    margin-bottom: var(--48px);
    font-size: var(--32px);
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--24px);

    app-pricing-card {
      flex: 1 1 22%;
      min-width: 200px;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 1199px) {
  .container {
    &__content {
      app-pricing-card {
        flex: 1 1 48%;
        min-width: 0;
      }
    }
  }
}