<nz-drawer
  [nzClosable]="true"
  [(nzVisible)]="isVisible"
  nzPlacement="right"
  nzTitle="Notificações"
  (nzOnClose)="close()"
  nzWidth="260px"
>
  <ng-container *nzDrawerContent>
    <nz-list nzItemLayout="horizontal" [nzLoading]="false">
      @for(item of mockList; track item) {
      <nz-list-item>
        <div class="dot"></div>
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            <a href="https://ng.ant.design">Análise concluída</a>
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            A análise do documento xxxxxxx foi concluída com sucesso.
          </nz-list-item-meta-description>
        </nz-list-item-meta>
      </nz-list-item>
      } @if (mockList.length === 0) {
      <nz-list-empty [nzNoResult]="noResultTpl" />
      }

      <ng-template #noResultTpl>
        <nz-empty
          class="empty__content"
          nzNotFoundImage="simple"
          nzNotFoundContent="Nenhuma Notificação"
        ></nz-empty>
      </ng-template>
    </nz-list>
  </ng-container>
</nz-drawer>
