.menu {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.logo {
  margin-top: var(--4px);
  margin-bottom: var(--4px);
  padding-left: var(--24px);
  padding-right: var(--24px);
  line-height: 56px;
  transition: all 0.2s;
  white-space: nowrap;
  overflow: hidden;

  &__collapsed {
    padding-left: 31.5px;
    padding-right: 31.5px;
    transition: all 0.3s;
    line-height: 55px;
    font-size: larger;
    
    .logo__name {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    } 
  }

  &__name {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 14px !important;
  }
}

.user {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - var(--8px));
  margin: var(--4px);
  padding-left: var(--24px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--8px);
  height: 40px;
  border-radius: var(--8px);
  transition: all 0.2s;
  white-space: nowrap;
  cursor: pointer;

  &__collapsed {
    justify-content: center;
    padding-left: 0;

    .user__info {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      display: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--16px);

    &__name {
      font-weight: 500;
    }

    &__plan {
      font-size: 12px;
      color: var(--text-secondary-color);
    }
  }

  &:hover {
    background: var(--primary-color-hover);
  }
}

.container {
  height: 100vh;

  &__header {
    background: var(--background-color);
    padding-left: var(--24px);
    padding-right: var(--24px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__icon {
      font-size: 18px;
    }
  }

  &__content {
    padding: var(--8px);
    // display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    &__inner-content {
      width: 100%;
    }
  }
}

.options {
  &__logout {
    color: var(--error-color);
  }
}

.footer {
  padding: var(--16px);
  display: flex;
  align-items: center;
  justify-content: center;
}