<nz-layout>
  @if (!isExternalPage()) {
  <nz-sider
    nzTheme="light"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzWidth="260px"
  >
    <ul nz-menu class="menu" nzTheme="light" nzMode="inline">
      <li class="logo" [class]="{ logo__collapsed: isCollapsed() }">
        <!-- <nz-icon
          nzType="open-a-i"
          nzTheme="outline"
          (click)="isCollapsed.set(!isCollapsed())"
        /> -->
        <img src="favicon.png" style="width: 18px" />
        <span class="logo__name">Meajur v{{ version() }}</span>
      </li>
      <li nz-menu-item [nzMatchRouter]="true" [nzMatchRouterExact]="true">
        <a [routerLink]="['/']">
          <nz-icon nzType="file-search" nzTheme="outline" />
          <span>Nova análise</span>
        </a>
      </li>
      <li nz-menu-item [nzMatchRouter]="true" [nzMatchRouterExact]="true">
        <a [routerLink]="['/contracts']">
          <nz-icon nzType="file-protect" nzTheme="outline" />
          <span>Contratos salvos</span>
        </a>
      </li>
      <li nz-menu-item [nzMatchRouter]="true" [nzMatchRouterExact]="false">
        <a [routerLink]="['/data']">
          <nz-icon nzType="pie-chart" nzTheme="outline" />
          <span>Dados</span>
        </a>
      </li>

      <li
        class="user"
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        [class]="{ user__collapsed: isCollapsed() }"
      >
        <div class="user__photo">
          @if(!userDataService.getUserData()?.photo) {
          <nz-avatar nzSize="small" nzIcon="user" />
          } @else {
          <nz-avatar
            nzSize="small"
            [nzSrc]="userDataService.getUserData()?.photo"
          />
          }
        </div>
        <div class="user__info">
          <span class="user__info__name">
            {{ utilsService.truncate(showUserName()) }}
          </span>
          <span class="user__info__plan"
            >{{ userDataService.getUserData()?.plan?.name }} ·
            {{ userDataService.getUserData()?.plan?.credits }} créditos</span
          >
        </div>
      </li>
    </ul>
  </nz-sider>
  }

  <nz-layout class="container">
    @if (!isExternalPage()) {
    <nz-header class="container__header">
      <button
        nz-button
        nzType="default"
        nzShape="circle"
        (click)="isCollapsed.set(!isCollapsed())"
      >
        <ng-icon name="featherSidebar" />
      </button>
      <button
        nz-button
        nzType="default"
        nzShape="circle"
        (click)="handleNotificationsDrawer()"
      >
        <nz-badge nzDot>
          <nz-icon
            class="container__header__icon"
            nzType="bell"
            nzTheme="outline"
          />
        </nz-badge>
      </button>
    </nz-header>
    }
    <nz-content
      class="container__content"
      [style]="{
        display: isHome() ? 'flex' : 'initial',
        padding: isExternalPage() ? '0' : ''
      }"
    >
      <div class="container__content__inner-content">
        <router-outlet />
      </div>
    </nz-content>
    <!-- <nz-footer class="footer"
      >Meajur ©{{ date.getFullYear() }} Powered by CodeArt</nz-footer
    > -->
  </nz-layout>
</nz-layout>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu class="options">
    <li nz-menu-item nzDisabled>
      <nz-icon nzType="user" nzTheme="outline" />
      <!-- beco_sampa&#64;hotmail.com -->
      {{ userDataService.getUserData()?.email }}
    </li>
    <a [routerLink]="['/pricing']">
      <li nz-menu-item>
        <nz-icon nzType="crown" nzTheme="outline" />
        Alterar meu plano
      </li>
    </a>
    <li nz-menu-item (click)="handleConfigModal()">
      <nz-icon nzType="setting" nzTheme="outline" />
      Configurações
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item class="options__logout" (click)="logout()">
      <nz-icon nzType="logout" nzTheme="outline" />
      Sair
    </li>
  </ul>
</nz-dropdown-menu>

@if(isBrowser()) {
<app-config-modal [isVisible]="isModalVisible" />
<app-notifications-drawer [isVisible]="isDrawerVisible" />
}
