<div class="container">
  <div nz-row>
    <div nz-col nzSpan="12" nzOffset="6">
      <nz-spin [nzSpinning]="isScanning()" nzTip="Carregando contrato...">
        <nz-upload
          class="file__upload"
          nzType="drag"
          nzAccept=".pdf, .doc, .docx, .txt"
          [nzCustomRequest]="customRequest"
          [nzMultiple]="false"
          [nzBeforeUpload]="beforeUpload"
          [nzShowUploadList]="{ showDownloadIcon: false, showRemoveIcon: true }"
          [nzFileList]="fileList()"
          [nzFileListRender]="fileListRender"
          (nzChange)="handleChange($event)"
        >
          <p class="ant-upload-drag-icon">
            <nz-icon nzType="inbox" />
          </p>
          <p class="ant-upload-text">
            Clique ou arraste o arquivo nesta área para fazer o upload
          </p>
          <p class="ant-upload-hint">
            Arquivos suportados: .pdf, .doc, .docx, .txt
          </p>
        </nz-upload>
      </nz-spin>

      <ng-template #fileListRender>
        @if(fileList().length > 0) {
        <ul nz-list [nzDataSource]="fileList()">
          @for(file of fileList(); track file.uid) {
          <li nz-list-item nzNoFlex>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a
                  (click)="handleOpenModal(file)"
                  nzTooltipTitle="Analisar"
                  nz-tooltip
                  class="file__btn--warning"
                >
                  <ng-icon name="ionSparklesOutline" />
                </a>
              </nz-list-item-action>
              <nz-list-item-action>
                <a
                  (click)="handleOpenModal(file)"
                  nzTooltipTitle="Abrir"
                  nz-tooltip
                >
                  <nz-icon nzType="read" nzTheme="outline" />
                </a>
              </nz-list-item-action>
              <nz-list-item-action>
                <a
                  (click)="handleDelete()"
                  nzTooltipTitle="Excluir"
                  nz-tooltip
                  class="file__btn--delete"
                >
                  <nz-icon nzType="delete" nzTheme="outline" />
                </a>
              </nz-list-item-action>
            </ul>
            {{ file.name }}
          </li>
          }
        </ul>
        }
      </ng-template>
    </div>
  </div>

  @if(isBrowser()) {
  <app-file-modal
    [isVisible]="isModalVisible()"
    [data]="modalData"
    [isTmpData]="true"
    (onCloseModal)="handleCloseModal($event)"
  />
  }
</div>
