.usage-chart-container {
  width: 100%;
  background: var(--background-color);
  padding: var(--16px);
  border-radius: var(--12px);
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 350px;
}